{% extends "simple_layout.html" %}
{% block panel_body %}
  <h4>{{ project_name }}</h4>
  <form id="uniteller_form" action="{{url}}" method="post" name="login" class="navbar-form">
      {{form.hidden_tag()}}
      <table>     
      <tr>
        <td><b>Summa:</b></td>
        <td><div class="input-group">{{ form.summa(class="form-control") }} <span class="input-group-addon">rubles</span></div></td>

      </tr>
      </table>
      <p>
      	<label class="label" style="color:#000;">
      		<input id="offert" type="checkbox"  value="1"> confirm acceptance of the <a href="/offert">contract offer</a>
      	</label>
      </p>
      <p><input id="uniteller_submit" class="btn btn-primary" type="submit" value="Pay!" disabled></p>

    <input type="hidden" name="Shop_IDP"    	value="{{shop_id}}"> 
    <input type="hidden" name="Order_IDP"     	value=""> 
    <input type="hidden" name="Subtotal_P"    	value=""> 
    <!--input type="hidden" name="Lifetime"     value="{{lifetime}}"--> 
    <input type="hidden" name="Signature"     	value=""> 
    <input type="hidden" name="URL_RETURN_OK"   value="http://www.buddhism.ru/success/"> 
    <input type="hidden" name="URL_RETURN_NO"   value="http://www.buddhism.ru/fail/">
    <input type="hidden" name="Language"		value="en" 
    <!--input type="hidden" name="MeanType"     value="0"--> 
    <!--input type="hidden" name="EMoneyType"     value="0"-->
  </form>
  
  <img src="/static/visa.png"/>
{% endblock %}