{% extends "layout.html" %}

{% block panel_body %}
<h1>{% if caption %} {{ caption }} {% else %} Форма оплаты {% endif %}</h1>
<form action="" method="post" name="login">
    {{pform.hidden_tag()}}
    <table>
		{% for field in pform if field.widget.input_type != 'hidden' %}
			<tr>
				<td>{{ field.label }}</td>
				<td>{{ field }}</td>
			</tr>
		{% endfor %}
    </table>
    <p><input class="btn btn-primary" type="submit" value="Подтвердить"></p>
</form>
{% endblock %}