{% macro render_field(field) %}
    
    {% if field.description is mapping %}{{ field(class="form-control",placeholder=field.label.text,**field.description) }}
    {% else %}                           {{ field(class="form-control",placeholder=field.label.text) }}
    {% endif %}
    {% if field.errors %}
    <div class="alert alert-danger" role="alert" style="margin-bottom: 0px;margin-top: 10px;">
        {% for error in field.errors %}
        <div> {{ error }} </div>
        {% endfor %}
    </div>
    {% endif %}
{% endmacro %}

{% macro render_field_new(field) %}

    {{ field(class="form-control",placeholder=field.label.text,**kwargs) }}
    <div class="form-control btn btn-success">{{ field }}</div>
    
    {% if field.errors %} 
        <div class="alert alert-danger" role="alert" style="margin-bottom: 0px;margin-top: 10px;">
            {% for error in field.errors %} <div> {{ error }} </div>{% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro table_fields_as_columns(form) %}
<table id="orders_table" class="table borderless" style="width:100%;margin-bottom: 0px;">
    <tr>
        {% for field in form if field.widget.input_type != 'hidden' %}
            <td style="border: none;">
                <div class="input-group date datepicker" id="div-{{field.name}}">
                    {{ render_field(field) }}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </td>
        {% endfor %}
    </tr>
</table>
{% endmacro %}

{% macro render_form(form) -%}
<form action="" method=post class="form-horizontal">
    {{ form.csrf_token }}
    <div class="col-md-offset-3 col-md-6">
        <div class="panel" align="center" style="-webkit-box-shadow: none; box-shadow: none;">
            {% if form.form_header %}<h3 class="panels-list-group">{{ form.form_header }}</h3>{% endif %}
            <div class="panel-body">
                <div class="control-group">
                    <div class="controls">
                        {{ render_fields(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{%- endmacro %}

{% macro horizontal_form(form) %}
<form action="{{ form.url }}" method=post class="form-horizontal">
    {{form.hidden_tag()}}
    <div class="panel panel-primary" style="margin-bottom:0px;">
        <div class="panel-body">
            <div class="control-group">
                <div class="controls">{{ table_fields_as_columns(form) }}</div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
		$(function () {
			$('#div-date_beg').datetimepicker({locale: 'ru',format: 'DD.MM.YYYY'});
			$('#div-date_end').datetimepicker({locale: 'ru',format: 'DD.MM.YYYY'});
		});
    </script>
</form>

{% endmacro %}