{% extends "layout.html" %}

{% block panel_body %}
  <form action="" method=post class="form-horizontal">
    {{ form.csrf_token }}    
    <div class="col-md-offset-3 col-md-6">
      <div class="panel" align="center" style="-webkit-box-shadow: none; box-shadow: none;">        
        
        <h3 class="panels-list-group">{{ form.form_header }}</h3>
        
        <div class="panel-body">
          <div class="control-group">
            <div class="controls">
              <table id="orders_table" class="table borderless" style="width:100%;margin-bottom: 0px;">
                {% block table_body %}
                  {% for field in form if field.widget.input_type != 'hidden' %}
                    {% if field.description is mapping %}
                      <tr><td style="border: none;">{{ field(class="form-control",placeholder=field.label.text,**field.description) }}</td></tr>
                    {% else %}
                      <tr><td style="border: none;">{{ field(class="form-control",placeholder=field.label.text) }}</td></tr>
                    {% endif %}
                  {% endfor %}
                {% endblock table_body %}
                <!--tr><td style="border: none;"><button type="submit" class="btn btn-success">{{ form.button_name }}</button></td></tr-->
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}