<div class="navbar-fixed-bottom row-fluid">
    <div class="navbar-inner">
        <div class="container">
            <p>
                {% if is_debug %}
                <b>{#{ db_name }#}</b>
                {% else %}
                &copy; Наша прекрасная организация
                {% endif %}
            </p>
        </div>
    </div>
</div>
