{% macro projects_pane(pane_id, form, is_active, input_id, submit_id) -%}
<div style="padding-top: 8px" class="tab-pane {{is_active}}" id="{{pane_id}}" role="tabpanel"
     aria-labelledby="home-tab">
    <form id="uniteller_form" action="{{ url }}" method="post" name="login">
        {{ form.hidden_tag() }}
        <div id="orders_table">

            <div class="row">
                <div style="margin-bottom:15px" class="col-md-4 col-xs-12">
                    <div class="btn-group-vertical btn-block" data-toggle="buttons">
                        {% for p in form.project %}
                        <label class="btn btn-default {% if loop.first %}active{% endif %}">
                            {{ p }}{{ p.label }}
                        </label>
                        {% endfor %}
                    </div>
                </div>
                {% if current_user.is_authenticated %}
                <div style="margin-bottom:15px" class="col-md-2 col-xs-12">
                    <div class="btn-group-vertical btn-block" data-toggle="buttons">
                        {% for s in form.subs %}
                        <label class="btn btn-default {% if s.id == 'subs-' ~ (form.subs.data-1) %}active{% endif %}">
                            {{ s }}{{ s.label }}
                        </label>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                <div style="margin-bottom:15px" class="col-md-{% if lang == 'en' %}4{% else %}6{% endif %} col-xs-12">
                    <div class="input-group">
                        {{ form.summa(class="form-control",
                        placeholder='Amount of donation in rubles' if lang =='en'
                        else "Сумма пожертвования",autocomplete="off") }}
                        <span class="input-group-addon">{% if lang == 'en' %}rubles{% else %}р.{% endif %}</span>
                    </div>
                    <p style="margin-top: 5px;">
                        <label class="label" style="color:#000;padding:0">
                            <input id="{{input_id}}" type="checkbox" style="margin: 10px 0 0;" value="1"/>
                            {% if lang == 'en' %}Confirm acceptance of the <a href="/offert">contract offer</a>
                            {% else %} Подтверждаю согласие с <a href="/offert">договором оферты</a>{% endif %}
                        </label>
                    </p>
                    <p><input id="{{submit_id}}" class="btn btn-primary" type="submit" value={% if lang== 'en'
                        %}Donate!{% else %}"Оплатить!"{% endif %} disabled>
                    </p>
                    <img src="/static/visa2.png"/>
                </div>

                {% if lang == 'en' %}
                <div class="col-md-2 col-xs-12">
                    <p>1 euro ≈ 75 rubles</p>
                    <p>1 dollar ≈ 68 rubles</p>
                    <p>(for 4th sept 2015)</p>
                </div>
                {% endif %}
            </div>

        </div>
    </form>
</div>
{%- endmacro %}

<div class="" style="margin: 0; padding-left: 0;">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item active">
            <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
               aria-selected="true">Приоритетные</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
               aria-selected="false">Остальные</a>
        </li>

    </ul>
    <div class="tab-content" id="myTabContent">
        {{ projects_pane("home", pane1_items, "active", "offert1", "uniteller_submit1") }}
        {{ projects_pane("profile", pane2_items, "fade", "offert2", "uniteller_submit2") }}


    </div>
</div>