{% extends "simple_layout.html" %}
{% block panel_body %}
	<div class="navbar-form">
		<h3><p>Оплата завершенна с ошибкой</p></h3>
		<p><a class="btn btn-default" href="/orders/add/1">Попытаться сделать пожертвование еще раз</a></p>
	</div>
{% endblock %}