<link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/v4.0.0/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/v4.0.0/src/js/bootstrap-datetimepicker.js"></script>
<form action="" method=post class="form-horizontal">
	{{form.hidden_tag()}}
    <!--div class="col-md-offset-3 col-md-6"-->
        <div class="panel panel-primary">
            <!--div class="panel-heading">
                <h3 class="panel-title">Войти</h3>
            </div-->
            <div class="panel-body">          
                <div class="control-group">
                    <div class="controls">
                        <table id="orders_table" class="table borderless" style="width:100%; margin-bottom:0">                 
                            <tr>
                            	<td style="border: none;">
                            		<div class="input-group date datepicker" id="datetimepicker6">
						                <!--input id="username" type="text" class="form-control" placeholder="Начальная дата" required -->
						                {{ form.date_beg(class="form-control",placeholder="Начальная дата") }}
						                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
						                </span>
						            </div>                                		
                            	</td>
                            	<td style="border: none;">
                            		<div class="input-group date datepicker" id="datetimepicker7">
						                <!--input type="text" class="form-control" placeholder="Конечная дата" data-date-format="dd.mm.yyyy" required-->
						                {{ form.date_end(class="form-control",placeholder="Конечная дата") }}
						                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
						                </span>
						            </div>                                		
                            	</td>
                            	<script type="text/javascript">
								    $(function () {
								        $('#datetimepicker6').datetimepicker({locale: 'ru',format: 'DD.MM.YYYY'});
						                $('#datetimepicker7').datetimepicker({locale: 'ru',format: 'DD.MM.YYYY'});
						                
						                $('#datetimepicker6').data("DateTimePicker").maxDate(new Date());
						                $('#datetimepicker7').data("DateTimePicker").maxDate(new Date());
						                
						          //       var d6 = $('#datetimepicker6').data('date')
						          //       if(d6){
						          //       	$('#datetimepicker7').data("DateTimePicker").minDate(d6);	
						          //       }
						          //       var d7 = $('#datetimepicker7').data('date')
						          //       if(d7){
						          //       	$('#datetimepicker6').data("DateTimePicker").maxDate(d7);	
						          //       }

								        $("#datetimepicker6").on("dp.change",function (e) {
								            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
								        });
								        $("#datetimepicker7").on("dp.change",function (e) {
								            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
								        });
								    });
								</script>
                            	<td style="border: none;">
                            		<button type="submit" class="btn btn-primary" name="action" value="show" autofocus>Показать</button>
                            	</td>
                            	{% if current_user.role == 1 %}
	                            	<td style="border: none;">
	                            		<button type="submit" class="btn btn-primary" name="action" value="do">Списать все</button>
	                            	</td>
                            	{% endif %}
                           	</tr>                  
                        </table>
                    </div>
                </div>
            </div>
        </div>
    <!--/div-->
</form>