{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class=flashes style="
    padding-bottom: 8px;
    padding-left: 8px;
    padding-top: 8px;
    padding-right: 8px;">
        {% for category, message in messages %}
        <div class="alert alert-{{category}}" role="alert" style="margin-bottom: 0px;">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}