<form action="" method=post class="form-horizontal">
    {% if rows.form %}{{rows.form.hidden_tag()}}{% endif %}
    <table id="users_table" class="table table-hover table-striped table-condensed table-bordered" style="width:100%">
        <tr>
            {% if rows.check %}<th>*</th>{% endif %}
            {% for k in rows.keys if not rows.columns[k].hide %}
                <th>{{rows.columns[k].get_alias()}}</th>
            {% endfor %}
        </tr>
        {% for row in rows.get_rows() %}
        <tr>
            {% if rows.check %}<td><input type="checkbox" name="ids" value="{{rows.get_hash(loop.index-1)}}" /></td>{% endif %}
            {% for value in row %}
                {% if not rows.columns[rows.keys[loop.index-1]].hide %}
                    <td>{{ value or '' }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        {% if rows.total|length > 0 %}
        <tr>
            {% for total_column in rows.keys if not rows.columns[total_column].hide %}
            <td>{{ rows.get_total(total_column) or '' }}</td>
            {% endfor %}
        </tr>
        {% endif %}
    </table>
    {% if rows.actions %}
        {% for k in rows.actions %}
            <button type="submit" class="btn btn-primary" name="action" value="{{k}}" autofocus>{{rows.actions[k]}}</button>
        {% endfor %}
    {% endif %}
    <!--<button type="submit" class="btn btn-primary" name="action" value="show2" autofocus>show2</button>-->

</form>