{% extends "layout.html" %}
{% block panel_body %}
		<h3>Обратная связь</h3>
		<p>Если у вас вопросы и предложения вы можете написанить нам на <b>ombuddhahung@gmail.com</b></p>
		<p>Или вы нашли ошибку, у вас есть предложение, то можно посмотреть нет ли в системе учета заявок уже <a href="https://bitbucket.org/brizjin/buddha/issues">такой задачи</a> и оставить свой голос за существующую, чтобы ее побыстрее сделали или сразу <a href="https://bitbucket.org/brizjin/buddha/issues/new">создать новую</a> и мы будем знать о такой проблеме или идее.</p>
{% endblock %}