﻿{% extends "simple_layout.html" %}
{% block content %}
  <div class="container" style="padding-top: 20px; padding-bottom: 20px;">
    {% include 'menu.html' %}
    {% include 'bottom.html' %}
    <div class="panel panel-default">
      <div class="panel-title">
      </div>
      <div class="panel-body">
        {% include 'flash_messages.html' %}
        {% block panel_body %}
          {% include 'donate_form.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}

