{% extends "base_dialog_form.html" %}
{% block table_body %}
	<tr><td style="border: none;">{{ form.email(tabindex="1",class="form-control",placeholder=form.email.label.text,**form.email.description)  }}</td></tr>
	<tr><td style="border: none;">{{ form.password(tabindex="2",class="form-control",placeholder=form.password.label.text) 					  			}}</td></tr>
	<tr><td style="border: none;"><label class="label" style="color:#000;padding:0"><a href="/renewpassword" tabindex="4">Забыли пароль?</a></label>	  </td></tr>
	<tr><td style="border: none;">{{ form.submit  (tabindex="3",class="form-control btn btn-success",placeholder=form.submit.text,**form.email.description) 			}}</td></tr>

{% endblock table_body %}
