<h4>Добрый день!</h4>
<p>По вашей ежемесячной подписке было произведенно списание очередного взноса за {{ date_format_long(order.date_for) }}.</p>
<table id="orders_table" class="table borderless" style="margin-bottom: 0px;">
    <tr><td style="border: none;">Название проекта:</td><td style="border: none;">			{{ order.project.name }}</td></tr>
    <tr><td style="border: none;">Дата начала подписки:</td><td style="border: none;">		{{ date_format_long(order.sub.date_beg) }}</td></tr>
    <tr><td style="border: none;">Дата окончания подписки:</td><td style="border: none;">	{{ date_format_long(order.sub.date_end) if order.sub.date_end }}</td></tr>
    <tr><td style="border: none;">Сумма:</td><td style="border: none;">						{{ '{0:,.2f}'.format(order.summa) }} р.</td></tr>
</table>
<p><b>Спасибо за поддержку наших проектов!</b></p>
<p><a class="label label-primary" href='{{unsubscribe_url}}'>Отписаться</a> от рассылки уведомлений</p>