<h4>Добрый день!</h4>
<p>У вас появилась возможность стать участником проекта ежемесячных подписок.</p>
<p>Данный сервис позволяет делать пожертвования на буддийские проекты с использованием банковской карты.
   Для этого никакая регистрация на сайте не нужна.
   Также появилась возможность делать регулярные платежи – подписки.
   Подписавшись на какой-либо проект, деньги будут списываться у вас автоматический раз в месяц.</p>
<p>Внимание!</p>
<p>Для оперативного тестирования подписка осуществляется ежедневно, поэтому подписывайтесь на маленькие суммы, например, 1 рубль или 1,5 рубля.
   Если произойдут списания, которых вы не ожидали, необходимо сообщить в службу поддержки по адресу: ombuddhahung@gmail.com.
   При списании большой суммы есть возможность отменить платеж, если сообщить об этом в течение суток.
   Возврат средств может занять от одного до трёх дней.
   Чтобы стать участником проекта, необходимо перейти по ссылке и зарегистрироваться.</p>
<p>Все что осталось сделать это <b>перейти по <a href="donate.buddhism.ru/invite_reg/{{mail}}/{{hash}}">ссылке</a> и зарегестроваться.</b></p>
<p>Спасибо!</p>