<div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Проекты</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if current_user.is_authenticated %}
                    <li {% if active_nav == 5 %}class="active"{% endif %}>
                        <a href="/my_orders">Мои заказы</a>
                    </li>
                    <li {% if active_nav == 6 %}class="active"{% endif %}>
                        <a href="/my_subs">Мои подписки</a>
                    </li>
                    {% endif %}
                    {% if current_user.role == 1 %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="glyphicon glyphicon-tasks"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/orders">      Заказы</a></li>
                            <li><a href="/projects">    Проекты               <span class="sr-only">(current)</span></a></li>
                            <li><a href="/subs">        Подписки              <span class="sr-only">(current)</span></a></li>
                            <li><a href="/pay_subs"> Подписки за период    <span class="sr-only">(current)</span></a></li>
                            <li><a href="/users">       Список пользователей  <span class="sr-only">(current)</span></a></li>
                            <li><a href="/stats">       Всего сборов  <span class="sr-only">(current)</span></a></li>
                            <li><a href="/stats_months">Сборы по месяцам  <span class="sr-only">(current)</span></a></li>
                            <li><a href="/sm">Сборы с фильтрами  <span class="sr-only">(current)</span></a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/create_all">                            Создать все элементы базы (Create all)</a></li>
                            <li class="divider"></li>
                            <li><a href="{{url_for('send_invite')}}">             Отправить приглашение                 </a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
                {% if current_user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <b>{{ current_user.email }}</b>
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <!--li class="divider"></li-->
                            <li><a href="/create_new_pass">Сменить пароль</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout">Выйти</a></li>
                            <!--li><a href="/login">Войти</a></li-->
                            <!--li><a href="/register">Регистрация</a></li-->
                        </ul>
                    </li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/registration"><span class="glyphicon glyphicon-user"></span> Регистрация</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Вход</a></li>
                </ul>
                {% endif %}
                <!--<ul class="nav navbar-nav navbar-right">-->
                    <!--<li><a href="/info"><span class="glyphicon glyphicon-info-sign"></span> Инфо</a></li>-->
                <!--</ul>-->
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>