{% extends "layout.html" %}

{% block panel_body %}
	<!--a class="label label-default" href="/orders/add">Добавить</a-->
	 <script type="text/javascript">
	 	jQuery(document).ready(function($) {
	 		console.log('foo');
		    $('.clickableRow').click(function() {
		    	console.log('1');
			    window.document.location = $(this).attr("href");
			});
		});
	</script>
	<table id="orders_table" class="table table-hover table-striped table-condensed table-bordered" style="width:100%">
		<tr>
			<th>№</th>
			<th>Дата</th>
			<th>Проект</th> 
			<th>Подписка</th>
			<th>Сумма</th>
			<th>Статус</th>			
		</tr>
		{% for u in orders %}		
			<tr class='clickableRow' href='{{url_for("order_detail",order_id=u.id)}}'>
				<td>{{ u.id }}</td>
				<td>{% if u.date_beg %}{{ u.date_beg.strftime("%d.%m.%Y %H:%M") }}{% endif %}</td>
				<td>{{ u.project.name }}</td>
				<td>{% if u.sub %}{{u.sub.id}}{% else %}{% endif %}</td>
				<td align="right">{{'{0:,.2f}'.format(u.summa)}}</td>	
				<td>{% if u.status %}
						{% if u.status == 'paid' %}
							<a class="label label-success">Оплачен</a>						
						{% elif u.status == 'authorized' %}
							<a class="label label-warning">Авторизирован</a>						 						
						{% else %}
							{{u.status}}
						{% endif %}
					{% endif %}
				</td>				
			</tr>
		{%- endfor %}
	</table>

{% endblock %}
