{% extends "layout.html" %}
{% block panel_body %}
<div class="row">
    {% for s in subs %}
    <div class="col-sm-6 col-md-4">
        <div class="bs-callout bs-callout-{% if s.status == 'active' %}info{% else %}inactive{% endif %}">


            <div class="caption">
                <h4>{{ s.sub_n }} {{ s.status_name }}</h4>
                <h5>{{ s.sub_name }}</h5>
                <h5>{{ s.sub_summa }}</h5>

                <table id="users_table" class="table table-hover table-striped table-condensed table-bordered" style="width:100%">
                    <tr>
                        <th>Месяц</th>
                        <th>Дата оплаты</th>
                    </tr>
                    {% for sp in subs_plan if sp.sub_id == s.sub_id %}
                    <tr>
                        <td>{% if sp.date_plan %} {{ date_month(sp.date_plan)|safe }}{% endif %}</td>
                        <td>{% if sp.date_paid %} {{ date_format_long(sp.date_paid)|safe }}{% endif %}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% if s.status == 'active' %} <h5><a class="label label-danger" href='{{url_for("unsub",sub_id=s.sub_id)}}'>Завершить подписку</a></h5>
                {% elif s.status == 'paid' %} <h5><a class="label label-success">Оплачена</a></h5>
                                    {% else %}<h5><a class="label label-primary" href='{{url_for("continue_sub",sub_id=s.sub_id)}}'>Продолжить</a></h5>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
