{% extends "simple_layout.html" %}
{% block content %}
<div class="container" style="margin-left: 0; padding-left: 0;">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs">
	  <li class="mytab active"><a href="#rus" data-toggle="tab">Русский</a></li>
	  <li class="mytab"><a href="#eng" data-toggle="tab">English</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div class="tab-pane active" id="rus">
			<h4>Публичная оферта №1 о заключении договора пожертвования от 01.01.2014</h4>
			<p>
				1. Настоящая публичная оферта, именуемая в дальнейшем «Оферта», является предложением Централизованной религиозной организации Российская Ассоциация Буддистов Алмазного Пути Традиции Карма Кагью, именуемая в дальнейшем «Организация», реквизиты которой указаны в разделе 14 Оферты, в лице Президента Койбагарова А.Ш., действующего на основании Устава, заключить с любым, кто отзовется на Оферту, договор пожертвования, именуемый в дальнейшем «Договор», на условиях, предусмотренных Офертой.<br>
				2. Оферта является публичной офертой в соответствии с пунктом 2 статьи 437 Гражданского кодекса Российской Федерации.<br>
				3. Оферта вступает в силу со дня, следующего за днем размещения ее на Сайте в сети Интернет по адресу: www.buddhism.ru.<br>
				4. Оферта действует бессрочно. Организация вправе отменить Оферту в любое время без объяснения причин.<br>
				5. В Оферту могут быть внесены изменения и дополнения, которые вступают в силусо дня, следующего за днем их размещения на Сайте, указанном в п. 3 Оферты.<br>
				6. Недействительность одного или нескольких условий Оферты не влечет недействительности всех остальных условий Оферты.<br>
				7. Местом размещения Оферты считается город Санкт-Петербург, Российская Федерация.<br>
				8. Существенные условия Договора<br>
				8.1. Сумма пожертвования: сумма пожертвования определяется Жертвователем.<br>
				8.2. Назначение пожертвования: добровольное пожертвование на уставную деятельность.<br>
				9. Порядок заключения Договора.<br>
				9.1. Договор заключается путем акцепта Оферты Жертвователем.<br>
				9.2. Оферта может быть акцептована Жертвователем любым из следующих способов:- путем перечисления Жертвователем денежных средств в пользу Организации платежным поручением по реквизитам, указанным в разделе 14 Оферты, с указанием «пожертвование на уставную деятельность» в строке: «назначение платежа», - путем перечисления Жертвователем денежных средств с использованием пластиковых - путем внесения денежных средств в кассу Организации.<br>
				10. Совершение Донором любого из действий, предусмотренных пунктом 9.2 Оферты, считается акцептом Оферты в соответствии с частью 3 статьи 438 Гражданского кодекса Российской Федерации.<br>
				11. Датой акцепта Оферты и, соответственно, датой заключения Договора является дата поступления денежных средств от Жертвователя на расчетный счет Организации, указанный в п. 14 Оферты.<br>
				12. Прочие условия: Совершая действия, предусмотренные данной Офертой, Жертвователь подтверждает, что ознакомлен с условиями и текстом настоящей Оферты, целями деятельности Организации, осознает значение своих действий, имеет полное право на их совершение и полностью принимает условия настоящей Оферты.<br>
				13. Настоящая Оферта регулируется и толкуется в соответствии с законодательством Российской Федерации.<br>
				14. Реквизиты Организации: Централизованная религиозная организация Российская Ассоциация Буддистов Алмазного Пути Традиции Карма Кагью. Место нахождения: 190068, Санкт-Петербург г, Никольский пер, 7, 26 ИНН 7810301506/ КПП 783801001 ОГРН 1037858019495 Расчетный счет: 40703 81053 80901 11891 В ОАО "Сбербанк России" г. Москва БИК 044525225 Кор/сч 30101 81040 00000 00225
			</p>
			<div class="media">
				<img style="height:100px;padding:20px 0 0 0" class="pull-left" src="/static/uniteller_logo.png"/>
				<div class="media-body">				
					Uniteller. Платите самостоятельно в виртуальном и реальном мирах! 
					Компания Uniteller – первая в России процессинговая компания с полным комплексом услуг 
					эквайринга платежей в Интернете и сфере самообслуживания. Платежная система Uniteller 
					соответствует требованиям стандарта безопасности данных индустрии платежных карт PCI 
					DSS, решения компании сертифицированы в соответствии с требованиями PCI PA-DSS. 
				</div>
			</div>
			<br>
			<p>
				<a class="btn btn-default" href="{{ request.referrer }}">Назад</a>
			</p>
		</div>
		<div class="tab-pane" id="eng">
			<h4>A public Offer № 1 for the conclusion of a Donation Agreement from 01.01.2014</h4>
			<p>
				1. This a public offer, hereinafter referred to as the “Offer”, is an offer on the part of a local religious organization “Buddhist Center Dimond Way Karma Kagyu of Moscow” (OGRN1027739552059), hereinafter referred to as the “Organization”, the complete and accurate details of which are to be specified in Section 14 of this Offer, represented by President Misura O.V., acting on the basis of the Charter, to conclude an Offer, a donation agreement, hereinafter referred to as the “Agreement”, on the conditions specified in this Offer to anyone who responds.<br>
				2. In accordance with paragraph 2 of Article 437 of the Russian Federation Civil Code, the Offer is a public offer.<br>
				3. The Offer shall come into force as of the day, following the day of its official publishing on the website at: www.bigmos.ru.<br>
				4. The offer shall operate with no time limit. The Organization has the right to cancel the Offer at any time and with no reason.<br>
				5. The offer can be modified and completed and these changes shall be effective from the following the day of its official publishing on the website specified in clause 3 of the Offer.<br>
				6. The invalidity of one or more of the terms and conditions of the Offer shall not affect any other part of the Terms and Conditions.<br>
				7. The Offer is located in Moscow, Russian Federation.<br>
				8. The amount of the donation: the amount of the donation is defined by the Donor.<br>
				9. The procedure for the conclusion of the Agreement<br>
				9.1. The Agreement is concluded by the Donor’s acceptance of the Offer.<br>
				9.2. The Offer may be accepted by the Donor by one of the following methods:<br>
				- by a transfer from the Donor’s funds to the Organization using the payment order under bank details specified in clause 14 of the Offer, indicating “a contribution to the statutory activities” in the line: “Details of payment”,<br>
				- by a transfer from the Donor’s funds with plastic cards.<br>
				10. The fulfillment of any of the actions by the Donor, under clause 9.2 of the Offer, shall be considered as the acceptance of the Offer in accordance with paragraph 3 of Article 438 of the Russian Federation Civil Code.<br>
				11. The acceptance of the Offer (the public offer) date shall be the date when Donor’s payment is received in the account of the Organization, in clause 14 of the Offer.<br>
				12. Other conditions: while the Donor acts prescribed by this Offer, he confirms that he has been acquainted with the conditions and the text of this Offer, the purposes of the organization, has been fully understood the significance of his acts, has the right to commit them, and fully accepts the terms of this Offer.<br>
				13. This Offer to be governed by and construed in accordance with the legislation of the Russian Federation.<br>
				14. Details of the Organization:<br>
				A local religious organization “Buddhist Center Diamond Way Karma Kagyu of Moscow”<br>
				Registered address: Russia, 127051, Moscow, Petrovsky Boulevard,17/1- 35<br>
				INN 7707281711/ KPP 770701001<br>
			</p>
			<div class="media">
				<img style="height:100px;padding:20px 0 0 0" class="pull-left" src="/static/uniteller_logo.png"/>
				<div class="media-body">				
					Uniteller. Платите самостоятельно в виртуальном и реальном мирах! 
					Компания Uniteller – первая в России процессинговая компания с полным комплексом услуг 
					эквайринга платежей в Интернете и сфере самообслуживания. Платежная система Uniteller 
					соответствует требованиям стандарта безопасности данных индустрии платежных карт PCI 
					DSS, решения компании сертифицированы в соответствии с требованиями PCI PA-DSS. 
				</div>
			</div>
			<br>
			<p>
				<a class="btn btn-default" href="{{ request.referrer }}">Back</a>
			</p>
		</div>
	</div>
</div>
{% endblock %}