{% extends "simple_layout.html" %}
{% block panel_body %}
	<div class="navbar-form">
		<h3><p>Оплата завершенна успешно</p></h3>
		<p><a class="btn btn-default" href="/orders/add/1">Сделать еще одно пожертвование</a></p>
	</div>
{% endblock %}