{% extends "layout.html" %}

{% block panel_body %}
	<!--a class="label label-default" href="/orders/add">Добавить</a-->
    {% set paginator %}
        <div align="center">
            <nav>
            	<style type="text/css">
            		.page_button {width:40px}
            	</style>
                <ul class="pagination" style="margin: 0 auto;">
                	
                    {#<li % if page == 1 %}class="disabled"{% endif %}><a {% if page > 1 %} href="{{url_for('orders',page=page-1,limit=limit)}}"   {% endif %}  aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>#}
                    <li><a href="{{url_for('orders',page=page-1,limit=limit)}}" aria-label="Previous" class="page_button" {% if page == 1 %}style="visibility: hidden"{% endif %}><span aria-hidden="true">&laquo;</span></a></li>
                    {% set page_buttons_num = 9 %}
                    {% set page_beg = page -page_buttons_num//2   if page > page_buttons_num//2 + 1 else 1 %}
                    {% set page_beg = pages-page_buttons_num+1    if page + page_buttons_num//2 > pages and pages-page_buttons_num+1 > 0 else page_beg %}
                    {% set page_end = page_beg + page_buttons_num if page_beg + page_buttons_num < pages + 1 else pages + 1 %}
                    {#% for i in range(page_begin,page_begin+5) %#}
                    {#% for i in range(page_begin,page_begin+5 if page_begin+5 < pages + 1 else pages + 1) %#}
                    {% for i in range(page_beg,page_end) %}
                    {#% for i in range(1,pages + 1) %#}
                    {#% for i in range(page-2,page+3) %#}
                        <li {% if page == i %}class="active"{% endif %}>
                        	<a href="{{url_for('orders',page=i,limit=limit)}}" class="page_button"
                        		{% if i < 1 or i > pages %}
                        			style="visibility: hidden"
                        		{% endif %}
                        	>{{i}}
                        		{% if page == i %}
                        			<span class="sr-only">(current)</span>
                        		{% endif %}
                        	</a>
                        </li>
                    {% endfor %}
                    {#<li {% if page == pages %}class="disabled"{% endif %}><a {% if page < pages %}href="{{url_for('orders',page=page+1,limit=limit)}}"{% endif %} aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>#}
                    <li><a href="{{url_for('orders',page=page+1,limit=limit)}}" aria-label="Next" class="page_button" {% if page >= pages %}style="visibility: hidden"{% endif %}><span aria-hidden="true">&raquo;</span></a></li>
              </ul>
            </nav>
        </div>
    {% endset %}
    {{ paginator|safe }}
	<table id="orders_table" class="table table-hover table-striped table-condensed table-bordered" style="width:100%">
		<tr>
			<th>№</th>
			<th>Дата</th>
			<th>Проект</th> 
			<th>Сумма</th>			
			<th>Пользователь</th>
			<th>Подписка</th>
			<th>Статус</th>
		</tr>
		{% for u in orders %}
			<tr class='clickableRow' href='{{url_for("order_detail",order_id=u.id)}}'>
				<td>{{ u.id }}</td>
				{#<td>{% if u.date_beg %}{{ u.date_beg.strftime("%d.%m.%Y %H:%M") }}{% endif %}</td>#}
                <td>{{ momentjs(u.date_beg).format('L H:mm:ss') }}</td>
				<td>{{ u.project_name }}</td>
				<td align="right">{{'{0:,.2f}'.format(u.summa|float)}}</td>
				<td>{{ u.username }}</td>
				<td>{{ u.sub_id }}</td>
				<td>{% if u.status %}
						{% if u.status == 'paid' %}
							<a class="label label-success">Оплачен</a>						
						{% elif u.status == 'authorized' %}
							<a class="label label-warning">Авторизирован</a>						 						
						{% elif u.status == 'not authorized' %}
							<a class="label label-default">Отказ</a>
						{% elif u.status == 'canceled' %}
							<a class="label label-info">Возврат</a>
						{% else %}
							<a class="label label-warning">Не известен</a>
							{{u.status}}
						{% endif %}
					{% endif %}
				</td>
			</tr>
		{%- endfor %}
	</table>
    {{ paginator|safe }}
{% endblock %}

