{% extends "layout.html" %}

{% block panel_body %}
	<!--a class="label label-default" href="/orders/add">Добавить</a-->
	<table class="table table-hover table-striped table-condensed table-bordered" style="width:100%">
		<tr>
			<th>Поле</th>
			<th>Значение</th> 
		</tr>
		{% for k,v in u.items() %}		
			<tr>
				<td>{{ k }}</td>
				<td>{{ v }}</td>
			</tr>
		{%- endfor %}
	</table>

{% endblock %}
