{% extends "layout.html" %}
{% block panel_body %}
    <a class="label label-default" href="/projects/add">Добавить</a>
    <!--<div class="btn-toolbar" role="toolbar">-->
        <!--<div class="btn-group">-->
            <!--<button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span></button>-->
            <!--<button type="button" class="btn btn-default" aria-label="Center Align"><span class="glyphicon glyphicon-align-center" aria-hidden="true"></span></button>-->
            <!--<button type="button" class="btn btn-default" aria-label="Right Align"><span class="glyphicon glyphicon-align-right" aria-hidden="true"></span></button>-->
            <!--<button type="button" class="btn btn-default" aria-label="Justify"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>-->
        <!--</div>-->
    <!--</div>-->
    <table class="table table-hover table-striped table-condensed table-bordered" style="width:100%;margin-bottom: 0px;">
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>Завершить</th>
        </tr>
        {% for u in projects %}
            <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.name }}</td>
                <td>{{ u.caption }}</td>
                <td>{{ u.date_beg }}</td>
                <td>{{ u.date_end }}</td>
                <td>
                    {% if u.date_end is none %}
                        <a class="label label-default" href="/projects/close/{{ u.id }}">Завершить</a></td>
                    {% else %}
                        <a class="label label-default" href="/projects/continue/{{ u.id }}">Продолжить</a></td>
                    {% endif %}

            </tr>
        {%- endfor %}
    </table>
{% endblock %}