<tr>
			<td>{{ form.radio.label }}</td>
			<td>
				<div class="row">
				<div class="col-xs-6 col-md-3">
				{% for subfield in form.radio %}
					<a href="#" class="thumbnail">
					{{ subfield }}
					{{ subfield.label }}
					</a>
				{% endfor %}
				</div>
				</div>
			</td>
		</tr>