<table id="users_table" class="table table-hover table-striped table-condensed table-bordered" style="width:100%">
    <tr>
        {% for k in rows[0]._parent.keys %}
            {% if rows.alias(k) %}
                <th>{{ rows.alias(k) }}</th>
            {% elif not rows.hide %}
                <th>{{ k }}</th>
            {% endif %}
        {% endfor %}
    </tr>
    {% for row in rows %}
    <tr>
        {% for column in row._row %}
            {% if rows.alias(loop.index-1) or not rows.hide  %}
                {% if column is none %}
                    <td></td>
                {% else %}
                    <td>{{ format_column(column,rows.column_type(loop.index-1)) }}</td>
                {% endif %}
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>