{% extends "layout.html" %}
{% block panel_body %}
	<div class="panel panel-default">        
        <div class="panel-title">
		</div>
		<div class="panel-body">
			<h3>{{ msg_header }}</h3>
			<p> {{ msg_body }}</p>
		</div>
	</div>
{% endblock %}