
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    <link href="{{ url_for('static', filename='s.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='pay_validate.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='moment-with-locales.min.js') }}"></script>
    <script>moment.locale('ru');</script>
    <title>Страница пожертвований</title>
  </head>

  <body>
    {% block content %}{% endblock %}
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('.clickableRow').click(function() {
                window.document.location = $(this).attr("href");
            });
        });
    </script>
    {% block layout_scripts %}{% endblock %}
  </body>
</html>