﻿{% extends "layout.html" %}
{% block panel_body %}

    {% import "autoform.html" as autoform %}
    {% if form %}{{ autoform.horizontal_form(form) }}{% endif %}

    <!--a class="label label-default" href="/orders/add">Добавить</a-->
    <table class="table table-hover table-striped table-condensed table-bordered" style="width:100%; margin-bottom:0px;">
        <tr>
            {% for d in table._saved_cursor.description %}
                <th>{{ d.name }}</th>  
            {% endfor %}
        </tr>
        {% for r in table %}
        <tr>
            {% for v in r %}
                <td>{{ formats.get(loop.index,'{0}').format(v) }}</td>
            {% endfor %}
        </tr>
        {%- endfor %}
    </table
    {% block layout_scripts %}
        <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/v4.0.0/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
        <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/v4.0.0/src/js/bootstrap-datetimepicker.js"></script>
        {{ super() }}
    {% endblock %}
{% endblock %}
