{% extends "layout.html" %}

{% block panel_body %}
<h4>Вы собираетесь сделать пожертвование на сумму: {{ summa }}р.</h4>
<form action="{{url}}" method="post">
    <p><input class="btn btn-primary" type="submit" name="Submit" value="Кармапа ченно!"></p>
	<input type="hidden" name="Shop_IDP" 		value="{{shop_id}}"> 
	<input type="hidden" name="Order_IDP" 		value="{{order_id}}"> 
	<input type="hidden" name="Subtotal_P" 		value="{{summa}}"> 
	<!--input type="hidden" name="Lifetime" 		value="{{lifetime}}"--> 
	<input type="hidden" name="Signature" 		value="{{signature}}"> 
	<input type="hidden" name="URL_RETURN_OK" 	value="http://example.com/pay/ok/"> 
	<input type="hidden" name="URL_RETURN_NO" 	value="http://example.com/pay/fail/"> 
	<!--input type="hidden" name="MeanType" 		value="0"--> 
	<!--input type="hidden" name="EMoneyType" 		value="0"--> 
</form>
{% endblock %}