{% extends "layout.html" %}
{% block panel_body %}
	<!--a class="label label-default" href="/orders/add">Добавить</a-->
	<table id="users_table" class="table table-hover table-striped table-condensed table-bordered" style="width:100%">
		<tr>
			<th>№</th>
			<th>Дата</th>
			<th>Имя</th> 
			<th>E-mail</th>
			<th>Телефон</th>
			<th>Инфо</th>
			<th>Роль</th>
		</tr>
		{% for u in users %}		
			<tr class='clickableRow' href='{{url_for("order_detail",order_id=u.id)}}'>
				<td>{{ u.id }}</td>
				<td>{% if u.date_reg %}{{ u.date_reg.strftime("%d.%m.%Y %H:%M") }}{% endif %}</td>				
				<td>{{ u.username }}</td>
				<td>{{ u.email }}</td>
				<td>{{ u.phone }}</td>
				<td>{{ "Да" if u.is_notify }}</td>
				<td>{{ u.role }}</td>
			</tr>
		{%- endfor %}
	</table>

{% endblock %}
